<%= if !Enum.empty?(@items) do %>
    <h3 class="related-fields-title"><%= @heading %></h3>
    <ul class="related-fields-list">
        <%= for item <- @items do %>
            <li>
                <%= link @item_display_func.(item) , to: @show_path.(item) %>
            </li>
        <% end %>
    </ul>
<% end %>
