<div class="submit-row">
    <%= if @save_another do
      submit "Save and add another", class: "button", name: "save_another", value: "true"
    end %>
    <%= submit "Save", class: "button default", name: "save_another", value: "false" %>
</div>