<div class="form-group">
	<div class="submit_buttons_container">
		<div>
			<%= if @show_delete do 
				CommonWeb.FormView.delete_button()
			end %>
		</div>
		<div>
			<%= if @save_another do %>
			  <%= submit "Save & Add Another", class: "btn btn-primary", name: "form_submit_type", value: "add_another" %>
			<% end %>
			<%= submit "Save", class: "btn btn-primary", name: "form_submit_type", value: "save" %>
		</div>
	</div>
</div>