<%= link "All resources", to: admin_path(@conn, :index), class: "back-link" %>
<h1 class="index-heading">
  <%= @heading %>
  <span class="index-heading-count">(<%= @count %>)</span>
</h1>
<div>
  <%= link "Add " <> @item_name_singular, to: @new_path, class: "btn btn-sm btn-success" %>
</div>