<%= link "All " <> @item_name_plural, to: @index_path, class: "back-link" %>

<div class="show-heading">
  <h1 class="show-title"><%= @title %></h1>
  <%= link "Edit", to: @edit_path, class: "btn btn-primary btn-sm" %>
</div>


<dl class="show-attribute-list">
  <%= for { name, value } <- @attributes do %>
    <dt><%= name %></dt>
    <dd><%= value %></dd>  
  <% end %>
</dl>