<%= render BooklistWeb.SharedView, "index.html",
  conn: @conn,
  item_name: "Author",
  items: @authors,
  new_path: ~p"/authors/new",
  show_path_func: &show_path/1,
  item_to_s: &to_sorted_name/1
%>
