<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>

      <td>
        <%= link "Show", to: Routes.user_path(@conn, :show, user) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
