/**
* Nav Styles
*/
.header{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.nav .brand{
	font-weight: bold;
}
.nav a{
	color: black;
	padding-top: 1em;
	padding-bottom: 1em;
}
.nav a:hover{
	text-decoration: none;
	font-weight: bold;
}