.post-thumbnails{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a{
		flex-basis: 200px;
		display: inline-block;
		margin-bottom: 16px;
		height: 200px;
		width: 200px;
		overflow: hidden;
		img{
			max-width: none;
			max-height: 100%;
		}
	}
}

@media screen and (min-width: 447px){
	.post-thumbnails{
		justify-content: space-between;
	}
}

.lightbox-container, .lightbox-background{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.lightbox-container{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	&.hidden{
		display: none;
	}
	
	.lightbox-background{
		background-color: black;
		opacity: 0.8;
		z-index: 1;
	}

	.lightbox-images-container{
		z-index: 99;
		img{
			max-height: 100vh;
		}
		
		.image-container{
			transition: translateX 0.3s;
			display: none;
			&.active{
				display: block;
			}
		}
	}
	//buttons
	$lightbox_button_dimensions: 45px;
	.lightbox-bottom-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: calc(100vh - #{$lightbox_button_dimensions * 2 + 50px});
		z-index: 100;
	}
	.caption-container{
		position: relative;
		text-align: center;
		font-size: 1em;
		padding: 0.7em;
		margin-bottom: 10px;
		max-width: 30em;

		.caption-overlay{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: black;
			opacity: 0.4;
		}
		.caption-body{
			position: relative;
			z-index: 100;
			color: white;
		}
		.caption-body:empty + .caption-overlay{
			display: none;
		}
	}

	.lightbox-button-container{
		display: flex;
		justify-content: space-between;
		width: 120px;	

		&.first-image .slideshow-left-button {
			visibility: hidden;
		}

		&.last-image .slideshow-right-button {
			visibility: hidden;
		}
	}

	.slideshow-right-button, .slideshow-left-button, .close-window-button{
		border: none;
		background-color: transparent;
		cursor: pointer;
		height: $lightbox_button_dimensions;
		width: $lightbox_button_dimensions;
		opacity: 0.5;
		
		&:hover, &:focus{
			font-weight: bold;
			opacity: 1;
		}
	}

	.close-window-button{
		align-items: center;
		position: absolute;
		z-index: 199;
		top: 12px;
		right: 8px;
		height: 50px;
		width: 50px;
		line-height: 1;
	}
}