<div class="show_header">
    <h1><%= @title %></h1>
    <div class="btn_group">
        <%= link "Back", to: @index_path %>
        <%= CommonWeb.FormView.delete_button_with_form(@conn, @delete_path) %>
        <%= link "Edit", to: @edit_path, class: "btn btn-primary" %>
    </div>
</div>