/****************************
* Variables
*****************************/
$menu_min_width : 170px;
$media_query_breakpoint : 600px;

/****************************
* Base
*****************************/
html{
	font-size: 19.2px;
	font-family: "Calendas Plus", "Fanwood Text", "Georgia", "Droid Serif", "Times", serif;
}
*{
	box-sizing: border-box;
}
body{
	background-image: url('/images/mountain.jpg');
	background-color: #c9c9c9;
	background-repeat: no-repeat;
}
main{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1300px;
	align-content: space-between;
	min-height: 97vh;
}
a{
	text-decoration: none;
}
hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-left: 0;
}

.main_content{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
}

/****************************
* Media Queries
*****************************/

@media screen and (max-width: $media_query_breakpoint) {
	//base
	.main_content{
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	body{
		background-image: url('/images/night.webp');
		background-position: center;
		background-color: #333;
	}

	a {
		&:link {
			color: rgb(87, 92, 233);
		}

		&:visited {
			color: rgb(130, 72, 185);
		}

		&:active {
			color: red;
		}
	}

	hr{
		border-bottom: 1px solid rgba(96, 96, 96, 0.5);
	}
}