@use 'variables';

html {
    --background-image-url: url('/images/mountain.jpg');
    --color-font: #000;
    --color-background: #f6f6f6;
    --color-divider: rgba(255, 255, 255, 0.5);

    // links
    --color-link-default: blue;
    --color-link-visited: purple;
    --color-link-active: red;

    font-size: 19.2px;
    font-family: 'Calendas Plus', 'Fanwood Text', 'Georgia', 'Droid Serif',
        'Times', serif;
}
@media (prefers-color-scheme: dark) {
    html {
        --background-image-url: url('/images/night.webp');
        --color-font: #f1f1f1;
        --color-background: #1a1a1a;
        --color-divider: rgba(96, 96, 96, 0.5);

        // links
        --color-link-default: rgb(147, 150, 234);
        --color-link-visited: rgb(168, 116, 216);
    }
}

* {
    box-sizing: border-box;
}
body {
    background-image: var(--background-image-url);
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-position: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
    align-content: space-between;
    min-height: 97vh;
}

a {
    text-decoration: none;
    &:link {
        color: var(--color-link-default);
    }

    &:visited {
        color: var(--color-link-visited);
    }

    &:active {
        color: var(--color-link-active);
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--color-divider);
    width: 100%;
    margin-left: 0;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

/****************************
* Media Queries
*****************************/

@media screen and (max-width: variables.$media_query_breakpoint) {
    //base
    .main_content {
        flex-direction: column;
    }
}
