/****************************
* Daily Quote
*****************************/
.blockquote_container{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 200px;
}

blockquote{
	color: black;
	margin: 0;
	background: white;
	padding: 30px 40px;
	min-width: 20em;
	text-align:center;
	line-height: 1.2em;
}
.quote_body{
	position : relative;
	line-height: 1.3em;
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
}

.quote_attribution{
	text-align: center;
	margin-top : .8em;
	font-size : 1.5em;
	display: inline-block;
}
.quote_author{
	&:empty{
		display: none;
	}
	&:before{
		content: "\2014";
	}
	&:after{
		content: ", ";
	}	
}

cite{
	font-style: normal;
	font-size: .8em;
}


/****************************
* Media Queries
*****************************/

@media screen and (max-width: $media_query_breakpoint) {
	//daily quote
	blockquote{
		width: 100%;
		padding-left: 3px;
		padding-right: 3px;
		margin: 0;
	}

	.quote_attribution{
		text-align: left;
	}
	cite{
		display: block;
		margin-top: 0.2em;
		margin-left: 1.2em;
	}
}

@media (prefers-color-scheme: dark) {
	blockquote{
		color: #ededed;
		background: #1a1a1a;
	}
}