<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @authors,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_sorted_name/1,
                            new_path: author_path(@conn, :new),
                            item_path_func: &author_path/3
%>