@use 'variables';

html, body{
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.app-container{
	position: relative;
	padding-bottom: variables.$media-controls-container-height + 20px;
	padding-top: 18px;
}

img {
	max-width: 100%;
}

svg {
	max-height: 100%;
	max-width: 100%;
}

.root-svg {
	display: none;
}

button {
	cursor: pointer;
}