@use 'variables';

html {
	--seren-media-bg-color: dodgerblue;
	--seren-table-header-bg-color: #b6cfe7;
	--seren-table-row-even-bg-color: #e6f2fe;
	--seren-accent-color-text: #007bff;
}

body{
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.app-container{
	position: relative;
	padding-bottom: variables.$media-controls-container-height + 20px;
	padding-top: 18px;
}

img {
	max-width: 100%;
}

svg {
	max-height: 100%;
	max-width: 100%;
}

.root-svg {
	display: none;
}

button {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #222;
		color: #fff;
		--seren-media-bg-color: #1d1f49;
		--seren-table-header-bg-color: #1d1f49;
		--seren-table-row-even-bg-color: #3a3a3a;
		--seren-accent-color-text: #d0d3f3;
	}

	a {
		color: var(--seren-accent-color-text);
	}
}