/*
    Styles for image-items-list.vue
*/

.image-show-text-list-container{
    margin-top: 3.5em;
}

.image-show-text-list{
    padding-left: 1em;
    li{
        margin-bottom: 0.5em;
        display: flex;
        flex-wrap: wrap;

        & > *:first-child{
            flex-basis: 25%;
        }
    }
}

.image-show-text-list-heading{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    .button-container{
        margin-left: 2em;
    }
}

.image-show-text-list-title{
    margin: 0;
    align-self: flex-end;
}

.image-show-add-items-list{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;

    li{
        margin-bottom: 0.5em;
        flex-basis: 25%;
    }
}