
/*
* Home page
*/
/* Main marketing message */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}
//override default bootstrap
.home-jumbotron{
	margin-bottom: 1em;
	padding: 2em 1em;
	background-color: #eee;
	& > div{
		margin: 0 auto;
		max-width: 25em;
	}
	h1{
		font-size: 2em;
		margin-bottom: 0;
	}
	p{
		font-size: 1em;
	}
}

.home-shortcuts-section{
	ul{
		margin-top: 0;
		padding: 0 1.5em;
	}
}