/*
* Base Styles
*/

body{
	padding-bottom: 3em;
}

/* Space out content a bit */
form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

img{
	max-width: 100%;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@media (prefers-color-scheme: dark) {

	.table {
		--bs-table-color: #fff;
		--bs-table-bg: transparent;
	}

	body {
		color: #fff;
		background-color: #333;
	}

	a {
		&:link {
			color: #3f93dc;
		}

		&.btn-success {
			color: #fff;
		}
	}

	a.btn-success:link, a.btn-primary:link {
		color: #fff;
	}

	a.btn-default:hover {
		color: #000;
	}

	input, select, .form-control, .form-control:focus {
		background-color: #000;
		color: #fff;
		color-scheme: dark;
	}
}
