.folder-preview-list{
	list-style-type: none;
	padding-left: 0;

	li {
		margin-bottom: 3em;
	}

	.folder-preview-bookmark-title-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0.5rem;
		gap: 1em;
	}

	.folder-preview-bookmark-title {
		margin: 0;
	}
}