.submit_buttons_container{
	display: flex;
	justify-content: space-between;
}

.form-group {
	margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
	.btn-default {
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #000;
	}
}
