.submit_buttons_container{
	display: flex;
	justify-content: space-between;
}

.form-group {
	margin-bottom: 1rem;
}

.form-check-input {
	margin-left: 0.5em;
}

.help-block {
	// variable is defined in bootstrap
    color: $danger;
}

@media (prefers-color-scheme: dark) {
	.btn-default {
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #000;
	}
}
