

/*
* Show pages
*/
.show-heading{
	display: inline-block;
	vertical-align: bottom;
	margin: 5px 1em 0 0;
}
.show-attribute-list{
	list-style-type: none;
	padding-left: 0;
}
.show-attribute-list li{
	margin-bottom: 0.5em;
}
