<h2 class="page-title">Site administration</h2>

<ul class="admin-fields-list">
    <%= for {field_title, index_path, new_path} <- @fields do %>
        <li>
        	<%= link field_title, to: index_path, class: "field-title" %>
        	<%= link "Add", to: new_path, class: "addlink" %>
        </li>
    <% end %>
</ul>
