<h2 class="page-title">Site administration</h2>

<ul class="admin-fields-list">
    <%= for {field_title, field_path_func} <- @fields do %>
        <li>
        	<%= link field_title, to: field_path_func.(@conn, :index), class: "field-title" %>
        	<%= link "Add", to: field_path_func.(@conn, :new), class: "addlink" %>
        </li>
    <% end %>
</ul>
