<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title prefix="Habits"><%= assigns[:page_title] %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body>
    <header class="jumbotron">
      <div class="container main-padding">
        <h1 class="main_title"><%= link "Habits", to: Routes.category_path(@conn, :create_category_activity_index) %></h1>
        <nav>
          <ul class="nav">
            <li><%= link "Calendar", to: Routes.page_path(@conn, :calendar) %></li>
            <li><%= link "Categories", to: Routes.category_path(@conn, :index) %></li>
            <li><%= link "Activities", to: Routes.activity_path(@conn, :index, limit: 50) %></li>
            <%= for category <- Habits.Admin.list_favorite_categories(assigns[:categories]) do %>
              <li>
                <%= link HabitsWeb.CategoryView.to_s(category), to: Routes.category_path(@conn, :show, category) %>
              </li>
            <% end %>
            <li><%= link "Add Activity", to: Routes.activity_path(@conn, :new), class: "btn btn-success" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= @inner_content %>
    <script src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
