@use '../base/mixins';

#books_per_week_chart > svg{
    overflow: visible;
}

svg.ct-chart-line {
	overflow: overlay;

	.ct-grids {
		stroke: #dedede;

		.ct-horizontal {
			stroke: #efefef;
		}
	}
	
	.ct-series {
		.ct-line, .ct-point {
			stroke: #008000;
			stroke-width: 2px;
			fill: none;
		}

		.ct-area {
			fill: #008000;
			fill-opacity: 0.1;
		}

		.ct-point {
			stroke-width: 6px;
			stroke-linecap: round;
		}
	}

	.ct-label.ct-vertical {
		position: relative;
		top: 23px;
	}
}

@media (prefers-color-scheme: dark) {
    #books_per_week_chart > svg {
        background-color: #555;
    }

    svg.ct-chart-line {
        .ct-series {
            .ct-line, .ct-point {
                stroke: #00b300;
            }
    
            .ct-area {
                fill: #00b300;
                fill-opacity: 0.2;
            }
        }
    }
}

.ct-axis-title{
    @include mixins.font_size(-1);
    @include mixins.font_heading;
}