/*
 * Styles for footer
 */

 .footer{
 	background-color: $color_nav_background;
 	min-height: 100vh - $total_height;
 	display: flex;
 	align-items: center;
 	a{
		color: $color_nav_links;

	}
 }
 .footer_links{
 	flex-grow: 1;
 	padding-top: 1.2em;
 	padding-bottom: 1.2em;
 	margin-top: 0;
 	margin-bottom: 0;
 	li{
 		display: inline-block;
 		margin-right: 2.5rem;
 	}
 }


