/*
 * Styles for forms
 */

 .form-group{
 	margin-bottom: 1rem;
 }

 input[type="radio"]{
 	margin-right: 1em;
 }

 @media (prefers-color-scheme: dark) {
	.form-control, .form-control:focus, .form-group select.form-control {
        background-color: #333;
        color: #fff;
    }
}

