@use 'sass:color';
@use '../base/variables';
@use '../base/mixins';

 @media (prefers-color-scheme: dark) {
	.index_list {
		li {
			&:nth-of-type(even){
				background-color: #444;
				
				a {
					color: #fff;
				}
			}
		}
	}
}

 .index_list{
 	li{
 		display: flex;
 		justify-content: space-between;
 		padding: 0.5em 5px;
 		min-height: 65px;
 		@include mixins.font_size(1);
 		&:nth-of-type(odd){
			background-color: color.adjust(variables.$color_secondary_accent, $lightness: 35%);
 		}
 		a{
			color: color.adjust(variables.$color_primary_accent, $lightness: -30%);
 		}
 		a:first-child{
 			flex-grow: 1;
 			align-self: center;
 		}
 		.btn_group{
 			text-align: right;
 			flex-basis: 60px;
 			align-self: center;
 		}
 	}
 	.btn_search{
 		color: white;
 		font-size: 1em;
 		padding-right: 1em;
 		padding-left: 1em;
 	}
 }
.search_container{
	padding-top: 1rem;
	input{
		@include mixins.font_size(1);
		box-sizing: border-box;
		height: 2.5em;
		width: 15em;
		transition-property: width;
		transition-duration: 0.5s;
		&:focus{
			width: 100%;
		}
	}
}

.index-items-count {
	font-size: 1rem;
	vertical-align: super;
	opacity: 0.7;
}
