@use '../base/variables';
@use '../base/mixins';

.nav{
	@include mixins.font_heading;
	@include mixins.font_size(3);
	padding: 0.5rem 0 0; //some sort of extra padding on bottom for some reason
	background-color: variables.$color_nav_background;
	margin-bottom: 1rem;
		a{
			color: variables.$color_nav_links;
			@include mixins.media_q_inverse(sm){
				display: block;
			}
		}
	.btn{
		color: white;
		padding-top: 8px;
		padding-bottom: 4px;
	}
	.nav_container{
		display: flex;
		justify-content: space-between;
		@include mixins.media_q_inverse(sm){
			flex-direction: column;
		}
	}
	.nav_heading{
		@include mixins.font_brand;
	}

	.nav_links{
		@include mixins.font_size(2);
		font-weight: 100;
		margin-top: 0.1em;
		margin-bottom: 0;
		@include mixins.media_q(sm){
			float: right;
		}
		li{
			margin-right: 0.5rem;
			@include mixins.media_q(sm){
				display: inline-block;
			}
		}
		li:last-of-type{
			margin-right: 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.nav a {
        color: variables.$dark_mode_color_accent;
    }
}
