@use '../base/mixins';

.nav{
	@include mixins.font_heading;
	@include mixins.font_size(3);
	padding: 0.5rem 0;
	background-color: black;
	margin-bottom: 1rem;
	.btn{
		color: white;
	}
	.nav_container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0.5rem 2rem;
	}
	.nav_heading{
		@include mixins.font_brand;
	}

	.nav_links{
		@include mixins.font_size(2);
		font-weight: 100;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em 0.75em;
		align-items: center;
	}
}

