/*
* Styles for reporting
*/

.stat_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;
	font-size: 1.4rem;

	& + & {
		margin-top: 3rem;
	}
	
	.heading {
		font-weight: bold;
	}
}

.stat_box {
	margin-bottom: 0.5rem;
}

.genre_stat_box {
	flex-basis: 25%;
	padding: 0.25em;
}

.reporting_books_by_week{
	margin: 1.5em 0 1em;
}

.reporting_top_rated_books_list{
	list-style: none;
	counter-reset: item;
	font-size: 1.67rem;
	padding-bottom: 4em;

	li {
		counter-increment: item;
		margin: 0 0 0.5em -0.3em;
		display: flex;
	}
	li:before {
		margin-right: 10px;
		content: counter(item);
		color: #cacaca;
		min-width: 1.2em;
		text-align: center;
		display: inline-block;
	}
}

.reporting_top_rated_books_table{
	font-size: 1.67rem;
	margin: 1rem 0 8rem;

	th {
		font-weight: normal;
		text-align: left;
		color: #cacaca;
	}

	th, td {
		padding: 0.5rem 2rem 0.5rem 0;
	}

	tbody {
		counter-reset: rowNumber;
		tr {
			counter-increment: rowNumber;
		}
	}

	.reporting_top_rated_books_table__index {
		padding-right: 1rem;
		
		&::before {
			content: counter(rowNumber);
			color: #cacaca;
		}
	}

	.reporting_top_rated_books_table__author {
		width: 14em;
	}

	.reporting_top_rated_books_table__count {
		width: 4em;
	}
}
