/*
* Styles for reporting
*/

.stat_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;

	& + & {
		margin-top: 2rem;
	}
}

.genre_stat_box {
	flex-basis: 25%;
	margin-bottom: 0.5rem;

	.heading {
		font-weight: bold;
	}
}

.reporting_books_by_week{
	margin: 3em 0 1em;
}

.reporting_top_rated_books_table{
	font-size: 1.67rem;
	margin: 1rem 0 2rem;

	th {
		font-weight: normal;
		text-align: left;
		color: #cacaca;
	}

	th, td {
		padding: 0.5rem 0;
	}

	.reporting_top_rated_books_table__index {
		color: #cacaca;
		padding-right: 1rem;
		text-align: right;
	}

	.reporting_top_rated_books_table__author {
		width: 14em;
	}

	.reporting_top_rated_books_table__count {
		width: 4em;
	}
}

svg.ct-chart-line {
	overflow: overlay;

	.ct-grids {
		stroke: #dedede;

		.ct-horizontal {
			stroke: #efefef;
		}
	}
	
	.ct-series {
		.ct-line, .ct-point {
			stroke: #008000;
			stroke-width: 2px;
			fill: none;
		}

		.ct-area {
			fill: #008000;
			fill-opacity: 0.1;
		}

		.ct-point {
			stroke-width: 6px;
			stroke-linecap: round;
		}
	}

	.ct-label.ct-vertical {
		position: relative;
		top: 23px;
	}
}