/*
* Styles for reporting
*/

.stat_boxes{
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}
.reporting_books_by_week{
	margin: 3em 0 1em;
}

.reporting_top_rated_books_list{
	li{
		margin-bottom: 1em;
		& > *{
			margin-right: 0.5em;
		}
	}
}