/*
* Styles for reporting
*/

.stat_boxes{
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0 2em;
	font-size: 1.4rem;
	gap: 1em 2em;
	
	.heading {
		font-weight: bold;
	}
}

.reporting_books_by_week{
	margin: 1.5em 0 1em;
}

.reporting_books_by_week_table {
	border-collapse: collapse;
	font-size: 0.75rem;
	text-align: center;
	
	th, td {
		border: 1px solid rgba(204,204,204, 0.55);
	}

	tbody td {
		width: 1.25rem;
		height: 1.25rem;
	}

	&.reporting_books_per_year_table tbody td {
		width: 2.25rem;
		height: 2.25rem;
	}

	.count-filled {
		background-color: #049704;
	}
}

@media (prefers-color-scheme: dark) {
    .reporting_books_by_week_table  {
        background-color: #404040;

		th, td {
			border-color: rgba(87,87,87, 0.55);
		}
    }
}

.reporting_top_rated_books_list{
	list-style: none;
	counter-reset: item;
	font-size: 1.67rem;
	padding-bottom: 4em;

	li {
		counter-increment: item;
		margin: 0 0 0.5em -0.3em;
		display: flex;
	}
	li:before {
		margin-right: 10px;
		content: counter(item);
		color: #cacaca;
		min-width: 1.2em;
		text-align: center;
		display: inline-block;
	}
}

.reporting_top_rated_books_table{
	font-size: 1.67rem;
	margin: 1rem 0 8rem;

	th {
		font-weight: normal;
		text-align: left;
		color: #cacaca;
	}

	th, td {
		padding: 0.5rem 2rem 0.5rem 0;
	}

	tbody {
		counter-reset: rowNumber;
		tr {
			counter-increment: rowNumber;
		}
	}

	.reporting_top_rated_books_table__index {
		padding-right: 1rem;
		
		&::before {
			content: counter(rowNumber);
			color: #cacaca;
		}
	}

	.reporting_top_rated_books_table__author {
		width: 14em;
	}

	.reporting_top_rated_books_table__count {
		width: 4em;
	}
}
