/*
* Styles for reporting
*/

.stat_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;

	& + & {
		margin-top: 2rem;
	}
}

.genre_stat_box {
	flex-basis: 25%;
	margin-bottom: 0.5rem;

	.heading {
		font-weight: bold;
	}
}

.reporting_books_by_week{
	margin: 3em 0 1em;
}

.reporting_top_rated_books_list{
	li{
		margin-bottom: 1em;
		& > *{
			margin-right: 0.5em;
		}
	}
}