.form-control {
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;

    &.right {
        display: flex;
        justify-content: flex-end;
    }

    select.form-control {
        background-color: #fff;
    }
}

.btn:hover {
    text-decoration: none;
}