.plugin-table {
    .row-red {
        background-color: #ff2929;
    }

    .row-bordeaux {
        background-color: #ad0057;
        
        &, & a {
            color: rgba(255, 255, 255, 0.9);
        }
    }

    .row-magenta {
        background-color: #ff61ff;
    }

    .row-orange {
        background-color: orange;
    }
    
    .row-yellow {
        background-color: yellow;
    }
    
    .row-green {
        background-color: green;
        
        &, & a {
            color: rgba(255, 255, 255, 0.9);
        }
    }

    .row-lime {
        background-color: #47ff47;
    }
    
    .row-blue {
        background-color: #0a7cff;
        
        &, & a {
            color: rgba(255, 255, 255, 0.9);
        }
    }
    
    .row-teal {
        background-color: teal;
        
        &, & a {
            color: rgba(255, 255, 255, 0.9);
        }
    }
    
    .row-cyan {
        background-color: #6ff;
    }

    .row-violet {
        background-color: #ba61ff;
    }

    .row-black {
        background-color: #333;

        &, & a {
            color: rgba(255, 255, 255, 0.9);
        }
    }
}