.stats_container {
    display: flex;
    flex-wrap: wrap;

    margin: 2em 0;

    & > * {
        margin-right: 3em;
    }
    .heading {
        font-weight: bold;
    }
}

.spending_per_year_table {
    border-collapse: collapse;
    font-size: 0.75rem;
    text-align: center;
    color: var(--color-font);
    background-color: var(--color-background-secondary);

    th,
    td {
        border: 1px solid var(--color-reports-table-border);
    }

    tbody td {
        width: 1.25rem;
        height: 1.25rem;
    }

    .count-filled {
        background-color: #17adbd;
    }
}
