<%= for folder <- @folders do %>
  <section class="menu_container">
    <%= content_tag :h2, folder.name, class: "menu_title #{folder.theme}_title" %>
    <ul class="menu_contents">
      <%= for item <- StartpageWeb.FolderView.content_to_list(folder.content) do %>
        <li>
          <%= item %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>