<%= render Bookmarker.SharedView, "form_header.html", model_name: "bookmark", back_path: bookmark_path(@conn, :show, @bookmark) %>

<%= render "form.html", changeset: @changeset,
						folders: @folders,
                        action: bookmark_path(@conn, :update, @bookmark),
                        form_type: :edit %>
<%= CommonWeb.FormView.hidden_delete_form(@conn, bookmark_path(@conn, :delete, @bookmark)) %>
