<%= render Bookmarker.SharedView, "form_header.html", model_name: "bookmark", back_path: bookmark_path(@conn, :show, @bookmark) %>

<%= render "form.html", changeset: @changeset,
						folders: @folders,
                        action: bookmark_path(@conn, :update, @bookmark),
                        form_type: :edit %>

<%= render Bookmarker.SharedView, "hidden_delete_form.html", delete_path: bookmark_path(@conn, :delete, @bookmark), changeset: @changeset %>