<%= render Bookmarker.SharedView, "form_header.html", model_name: "bookmark", back_path: bookmark_path(@conn, :index) %>

<p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>

<%= render "form.html", changeset: @changeset,
						folders: @folders,
                        action: bookmark_path(@conn, :create),
                        form_type: :new,
                        save_another: true %>
