<div class="jumbotron home-jumbotron">
  <div>
    <h1>Welcome to Bookmarker!</h1>
    <p class="lead">A place for you and all your bookmarks.</p>
  </div>
</div>

<div class="home-shortcuts-section">
  <ul>
    <li>
      <%= link "Tags", to: tag_path(@conn, :index) %>
    </li>
    <li>
      <%= link "Bookmarks Tags", to: bookmark_tag_path(@conn, :index) %>
    </li>
    <li>
      <%= link "Add folder", to: folder_path(@conn, :new) %>
    </li>
  </ul>
</div>
