.form-group-inline {
    .form-control {
        display: inline-block;
        width: auto;
    }

    * + * {
        margin-left: 1em;
    }
}

.form-control {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	.form-control, .form-control:focus, .form-group select.form-control {
        background-color: #000;
        color: #fff;
        color-scheme: dark;
    }

    .form-control::placeholder {
        color: #999;
    }
}

input:disabled, select:disabled, button:disabled {
    cursor: not-allowed;
}
