@use 'sass:math';
@use 'variables';

@mixin font_size($pow : 1, $scale : variables.$type_scale){
	font-size : #{math.pow($scale, $pow)}rem;
}

@mixin font_brand{
	font-family: variables.$font_brand;
	font-weight: 500;
	@content;
}
@mixin font_heading{
	font-family: variables.$font_heading;
	@content;
}
@mixin font_body{
	font-family: variables.$font_body;
	@content;
}
@mixin font_code{
	font-family: variables.$font_code;
	@content;
}

@mixin media_q($breakpoint: sm){
	@if $breakpoint == sm{
		@media screen and (min-width: variables.$breakpoint_sm){
			@content;
		}
	}
	@else if $breakpoint == med{
		@media screen and (min-width: variables.$breakpoint_med){
			@content;
		}
	}
	@else{
		@media screen and (min-width: variables.$breakpoint_lg){
			@content;
		}
	}
}

@mixin media_q_inverse($breakpoint: sm){
	@if $breakpoint == sm{
		@media screen and (max-width: variables.$breakpoint_sm - 1px){
			@content;
		}
	}
	@else if $breakpoint == med{
		@media screen and (max-width: variables.$breakpoint_med - 1px){
			@content;
		}
	}
	@else{
		@media screen and (max-width: variables.$breakpoint_lg - 1px){
			@content;
		}
	}
}