<%= render Artour.SharedView, "show_heading.html",
                                conn: @conn,
                                item_attribute_names: attribute_names(),
                                item_attribute_values: attribute_values(@conn, @category),
                                item_name_singular: "category",
                                item: @category,
                                title: display_name(@category)
%>
