<header class="jumbotron">
	<div class="container">
		<h1>Super Search</h1>
		<p class="tag_line">Your personal aggregate search engine</p>
	</div>
</header>
<main class="container">
	<%= render SupersearchWeb.PageView, "search_form.html", query_value: "" %>
</main>
