<form class="form-inline search-form" method="GET" action="/">
	<div class="form-group">
		<input class="form-control form-control-lg search-input" id="search" type="search" name="q" autocorrect="on" autofocus="autofocus" value={@query_value} placeholder="Enter search terms" />
	</div>
	<button class="btn btn-success btn-lg" type="submit">Search</button>
</form>
