<h1>Show Plugin category</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.plugin_category_path(@conn, :edit, @plugin_category) %></span> |
<span><%= link "Back", to: Routes.plugin_category_path(@conn, :index) %></span>
