<div class="post-show-heading post-heading <%= if @post.is_nsfw do "nsfw" end %>">
	<h1 class="post-title"><%= @post.title %></h1>
	<div class="post-date">
		<%= datetime_to_display_date(@post.publication_date) %>
	</div>
</div>
<%= if @post.body do %>
	<div class="post-body-container">
		<%= formatted_post_body(@post.body, @post.is_markdown) %>
	</div>
<% end %>
<%= render "album.html", conn: @conn, post_images: @post.post_images %>
<%= render "lightbox.html" %>