<%= render Artour.SharedView, "index_heading.html",
    conn: @conn,
    heading: "Post Images",
    item_name_singular: "post image",
    count: Enum.count(@items),
    new_path: ~p"/admin/post_images/new"
%>

<%= render Artour.SharedView, "index.html",
    conn: @conn,
    items: @items,
    show_path_func: &show_path/1,
    edit_path_func: &edit_path/1,
    column_headings: attribute_names_short(),
    row_values_func: &attribute_values_short/1
%>
