table.track-list {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.track-list{
	thead{
		background: #b6cfe7;
	}
	th, td{
		padding: 0.5em;
	}
	th{
		text-align: left;
		cursor: pointer;
	}

	tbody tr{
		transition: background-color 0.3s ease;
		cursor: pointer;
		
		&:nth-of-type(even){
			background: #e6f2fe;
		}
		//has to be after nth-of-type or it won't work
		&:active{
			background: dodgerblue;
		}
	}

	.col-play-btn{
		width: 50px;
	}
}

.track-list .track-play-button{
	cursor: pointer;

	&:hover::after{
		content: 'Play';
	}

	&.pause::after{
		content: 'Pause';
	}
}