//colors
$accent_color_text: #007bff;
$accent_color_text_darker: #0f4175;
$outline_button_disabled_color: #ccc;

$media_controls_background_color: dodgerblue;

//layout
$media-controls-container-height: 150px;