<%= render BooklistWeb.SharedView, "index.html",
  conn: @conn,
  item_name: "Location",
  items: @locations,
  new_path: ~p"/locations/new",
  show_path_func: &show_path/1,
  item_to_s: &to_s_full/1
%>
