/*
* Shown on album image show pages to preview images in album and navigate between them
*/

.album-image-header{
	margin-bottom: 24px;
}
.album-image-nav{
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0;
}

$preview_size: 50px;

.album-image-nav-previews{
	.image-preview-list{
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		li{
			box-sizing: border-box;
			height: $preview_size;
			width: $preview_size;
			flex-shrink: 0; //so horizontal scrolling works
			&.current-image{
				border: 3px solid magenta;
			}
			img{
				height: 100%;
				width: 100%;
				max-width: none;
				object-fit: cover;
			}
		}
	}
}