html {
    --color-background: #fff;
    --color-font: #000;

    --color-heart-default: #aaa;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-background: #2a2a2a;
        --color-font: #fff;

        --color-heart-default: #666;
    }

    a:link {
        color: #7a75ff;
    }

    a:visited {
        color: #a56fd8;
    }

    .btn-outline-dark {
        --bs-btn-color: #748290;
        --bs-btn-border-color: #748290;
        --bs-btn-hover-bg: #748290;
        --bs-btn-hover-border-color: #748290;
        --bs-btn-active-bg: #748290;
        --bs-btn-active-border-color: #748290;
        --bs-btn-disabled-color: #748290;
        --bs-btn-disabled-border-color: #748290;
    }

    .btn-outline-primary {
        --bs-btn-color: #75acff;
        --bs-btn-border-color: #75acff;
    }
}

//change to box sizing from bootstrap _reboot.scss
*,
*::before,
*::after {
    box-sizing: border-box; // 1
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-font);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

a:link {
    text-decoration: none;
}
a:hover,
a:target {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-group {
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    padding: 0 2em;
}

.inner-container {
    margin: 0 auto;
    max-width: 1410px;
}
.main {
    padding-bottom: 5rem;
}
.footer {
    padding-bottom: 2rem;
}

.invisible {
    visibility: hidden;
}

//can't use display none or scrollIntoView won't work
.alert:empty {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.spread-content,
.pull-right {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.spread-content {
    justify-content: space-between;
}

.pull-right {
    justify-content: flex-end;
    gap: 1em;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}
//major third type-scale
h1 {
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
.root-svg {
    display: none;
}
