//thumbnail radio buttons based on: https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
.thumbnail-radio-container{
    //hide radio
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    [type=radio] + img {
        cursor: pointer;
    }

    //checked styles
    [type=radio]:checked + img {
        border: 5px solid $photog_selected_highlight_color;
        border-radius: 4px;
    }
}