.header{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	padding-top: 1rem;
	nav{
		flex-grow: 1;
	}
}

.brand{
	font-size: 1.563rem;
	margin-right: 3.126rem;
	font-weight: normal;
	a{
		color: black;
	}
}
.nav-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0;

	li{
		margin-bottom: 1.5em;
	}

	@media screen and (max-width: 400px){
		&{
			flex-direction: column;
		}
	}

	a{
		padding: 0.75rem; //to match btn horizontal padding
		border-radius: 5px;

		&:hover, &.router-link-exact-active{
			background-color: $primary; //from bootstrap
			color: color-yiq($primary);
			text-decoration: none;
		}
	}
}