.imports-index-mini-thumbnail-list{
    display: inline-flex;
    flex-wrap: wrap;
    img{
        object-fit: cover;
        object-position: center;
        height: 130px;
        width: 140px;
        transition: width 0.4s, height 0.75s;
    }
}

.imports-index-mini-thumbnail-list:hover{
    img{
        height: 240px;
        width: 280px;
    }
}
