/*
* Styles for thumbnail list component
*/
$thumbnail_dimensions: 205px;

.thumbnail-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 205px);
    grid-gap: 20px;

    li{
        flex-basis: $thumbnail_dimensions;
        margin-bottom: 25px;
    }

    &.batch-select li{
        opacity: 0.65;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        border: 6px solid transparent;
        border-radius: 5px;

        &.batch-selected{
            border-color: $photog_selected_highlight_color;
            background-color: $photog_selected_highlight_color;
            color: white;
            opacity: 1;
        }
    }
    &.reordering li{
        border: 6px solid transparent;
        border-radius: 5px;

        &.reorder-select{
            border-color: $photog_selected_reorder_color;
            background-color: $photog_selected_reorder_color;
        }
    }
}
.reorder-resources-controls-container{
    margin-left: 1.5em;   
}
.thumbnail-batch-select-container, .reorder-resources-controls-container{
    display: inline-block;
}

.thumbnail-batch-select-container{
    margin-bottom: 1em;
    .resource-buttons-container{
        margin-top: 1em;
    }
}

.batch-resources-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;

    li{
        flex-basis: 25%;
        margin-bottom: 0.5em;
    }
}

.thumbnail-image-container{
    position: relative; //for image hearts

    img{
        height: $thumbnail_dimensions;
        width: $thumbnail_dimensions;
        border-radius: 10px;
        object-fit: cover;
        transition: height 0.3s 0.15s ease-in;

        &.cover-image{
            border: 4px solid magenta;
        }

        .hover-detail:hover &{
            transition: height 0.15s ease;
            height: 300px;
        }
    }
}
.thumbnail-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 2em;
    font-weight: normal;
    margin: 8px 0 0;
    font-size: 1.125rem;

    a{
        color: black;
    }

    &.thumbnail-title-favorite{
        a{
            color: $photog_selected_highlight_color;
        }
    }

    &.default-title{
        font-size: 0.98rem;
    }
}

.thumbnail-filter-controls-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;

    //have to do this on second child,
    //since sometimes might have only 1 filter shown
    & > *:nth-child(2){
        margin-left: 4em;
    }

    fieldset{
        border: none;
        padding: 0;
    }

    legend{
        font-weight: bold;
    }
    input[type="radio"]{
        margin-right: 1em;
    }
}