<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bookmarker</title>
    <link rel="stylesheet" href="/assets/app.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo"><%= link "Bookmarker", to: ~p"/" %></span>
        <nav role="navigation">
          <ul class="nav">
            <%= for folder <- @conn.assigns[:favorite_folders] do %>
              <li><%= link Bookmarker.Folder.to_s(folder), to: Bookmarker.FolderView.show_path(folder) %></li>
            <% end %>
            <li><%= link "Bookmarks", to: Bookmarker.BookmarkView.index_path() %></li>
            <li><%= link "Folders", to: Bookmarker.FolderView.index_path() %></li>
            <li><%= link "Add Bookmark", to: Bookmarker.BookmarkView.new_path(), class: "btn btn-xs btn-success" %></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div>
    <%= if assigns[:enable_js] do %>
      <script src="/assets/app.js"></script>
    <% end %>
  </body>
</html>
