<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bookmarker</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/assets/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo"><%= link "Bookmarker", to: "/" %></span>
        <nav role="navigation">
          <ul class="nav">
            <%= for folder <- @conn.assigns[:favorite_folders] do %>
              <li><%= link Bookmarker.Folder.to_s(folder), to: folder_path(@conn, :show, folder) %></li>
            <% end %>
            <li><%= link "Bookmarks", to: bookmark_path(@conn, :index) %></li>
            <li><%= link "Folders", to: folder_path(@conn, :index) %></li>
            <li><%= link "Add Bookmark", to: bookmark_path(@conn, :new), class: "btn btn-xs btn-success" %></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->
    <%= if assigns[:enable_js] do %>
      <script src="<%= static_path(@conn, "/assets/app.js") %>"></script>
    <% end %>
  </body>
</html>
