<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @sources,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_s/1,
                            new_path: source_path(@conn, :new),
                            item_path_func: &source_path/3
%>