<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @sources,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_s/1,
                            new_path: new_path(),
                            show_path_func: &show_path/1,
                            edit_path_func: &edit_path/1
%>
