.alert{
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid transparent;
}

.alert-info{
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}

.alert-danger{
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}