/*
    Admin styles
    (based on Django Admin)
*/

@use 'variables';

html {
    --color-background: #fbfcf8;
    --color-background-secondary: #fff;
    --color-font: #333;
    --color-font-secondary: #666;
    --color-link-focus-hover: #204639;
    --color-page-title: #666;

    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-background: #2a2a2a;
        --color-background-secondary: #000;
        --color-font: #fff;
        --color-font-secondary: #cacaca;
        --color-link-focus-hover: #34705b;
        --color-page-title: #888;
    }

    input,
    select {
        color-scheme: dark;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans',
        Verdana, Arial, sans-serif;
    color: var(--color-font);
    background: var(--color-background);
}

/* LINKS */

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #498878;
}

a:focus,
a:hover {
    color: var(--color-link-focus-hover);
}

/* GLOBAL DEFAULTS */

p,
ol,
ul,
dl {
    margin: 0.2em 0 0.8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}
//major 3rd type scale
h1,
.page-title {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 1.563rem;
    color: var(--color-page-title);
}
.page-title {
    margin-bottom: 2px;
}

h2 {
    font-size: 1.25rem;
    margin: 1em 0 0.5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: 0.8em 0 0.3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    margin: 1em 0 0.8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 0.8rem;
    margin: 1.5em 0 0.5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}

/* PAGE STRUCTURE */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

//alerts
.alert:empty {
    display: none;
}

.hidden {
    display: none;
}
