<span><%= link "Back", to: Routes.group_path(@conn, :index) %></span> | <span><%= link "Edit", to: Routes.group_path(@conn, :edit, @group), class: "btn btn-primary" %></span>

<h1><%= @group.name %></h1>

<%= render PluginistaWeb.PluginView, "plugin_table.html", conn: @conn, plugins: @plugins %>
