<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Booklist</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
  </head>
  <body>
    <nav class='nav'>
      <div class="container nav_container">
        <%= link "Booklist", to: Routes.page_path(@conn, :index), class: "brand nav_heading" %>
        <ul class='nav_links clearfix'>
          <li><%= link "Books", to: BooklistWeb.BookView.active_book_path(@conn) %></li>
          <li><%= link "Bookshelf", to: Routes.page_path(@conn, :bookshelf) %></li>
          <li><%= link "Libraries", to: Routes.library_path(@conn, :index) %></li>
          <li><%= link "Reports", to: BooklistWeb.ReportsView.reports_for_current_year_path(@conn) %></li>
          <li><%= link "Add Book", to: Routes.book_path(@conn, :new), class: "btn btn-success" %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% #can't have whitespace in alert, or alert:empty CSS will break %>
      <div class="alert alert-info"><%= Phoenix.Flash.get(@flash, :info) %></div>
      <%= @inner_content %>
    </div>
    <div class="modal_container" id="modal_container" style="display:none;">
      <div class="modal_overlay" id="modal_overlay"></div>
      <div class="modal" id="modal">
        <div class="modal_body" id="modal_body"></div>
        <div class="modal_buttons modal_confirm_buttons">
          <button class="btn btn-default" id="modal_confirm_cancel"></button>
          <button class="btn btn-danger" id="modal_confirm_confirm"></button>
        </div>
        <div class="modal_buttons modal_alert_buttons">
          <button class="btn btn-default" id="modal_alert_confirm"></button>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </body>
</html>
