<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= site_title() %> | Admin</title>
    <%= tag :link, rel: "stylesheet", href: static_path(@conn, "/assets/admin.css") %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="navbar navbar-expand-sm navbar-light bg-light justify-content-sm-between">
          <%= link site_title(), to: admin_path(@conn, :index), class: "navbar-brand" %>
          
          <div class="collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link "Public", to: page_path(@conn, :index), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Posts", to: post_path(@conn, :index), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Images", to: image_path(@conn, :index), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Add post", to: post_path(@conn, :new), class: "nav-link  btn btn-success btn-sm" %>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>

      <main class="main-content" role="main">
        <%= @inner_content %>
      </main>

    </div>
    <%= content_tag :script, "", src: static_path(@conn, "/assets/admin.js") %>
  </body>
</html>
