<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= site_title() %> | Admin</title>
    <%= tag :link, rel: "stylesheet", href: static_path(@conn, "/assets/admin.css") %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="brand"><%= link site_title(), to: page_path(@conn, :index) %></div>
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Posts", to: post_path(@conn, :index) %></li>
            <li><%= link "Images", to: image_path(@conn, :index) %></li>
            <li><%= link "Tags", to: tag_path(@conn, :index) %></li>
            <li><%= link "Add post", to: post_path(@conn, :new) %></li>
            <li><%= link "Resources", to: admin_path(@conn, :index) %></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main class="main-content" role="main">
        <%= @inner_content %>
      </main>

    </div>
    <%= content_tag :script, "", src: static_path(@conn, "/assets/admin.js") %>
  </body>
</html>
