<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= site_title() %> | Admin</title>
    <link rel="stylesheet" href="/assets/admin.css" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="navbar">
          <%= link site_title(), to: ~p"/admin", class: "navbar-brand" %>

          <ul class="navbar-nav">
            <li>
              <%= link "Public", to: ~p"/" %>
            </li>
            <li>
              <%= link "Posts", to: ~p"/admin/posts" %>
            </li>
            <li>
              <%= link "Images", to: ~p"/admin/images" %>
            </li>
            <li>
              <%= link "Add post", to: ~p"/admin/posts/new", class: "btn btn-success btn-sm" %>
            </li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>

      <main class="main-content" role="main">
        <%= @inner_content %>
      </main>

    </div>
    <script src="/assets/admin.js"></script>
  </body>
</html>
