<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= site_title assigns[:page_title] %></title>
    <%= tag :link, rel: "stylesheet", href: static_path(@conn, "/assets/app.css") %>
    <%= tag :meta, name: "description", content: site_description() %>
    <%= if assigns[:facebook_image] do
      tag :meta, property: "og:image", content: Artour.ImageView.url_for(@facebook_image, :small)
    end %>
    <%= if assigns[:page_title] do
      tag :meta, property: "og:title", content: @page_title
    end %>
  </head>

  <body class="<%= assigns[:body_class] %>">
    <header class="header container">
      <nav class="nav">
        <div class="brand"><%= link site_title(), to: page_path(@conn, :index) %></div>
      </nav>
    </header>

    <%= if assigns[:is_nsfw] do
	      render Artour.PublicPostView, "nsfw_modal.html", conn: @conn
    end %>

    <main class="<%= main_container_class(assigns[:main_container_class]) %>" role="main">
      <%= @inner_content %>
    </main>
    <%= if assigns[:javascript] do
      content_tag :script, "", src: static_path(@conn, "/assets/app.js")
    end %>
  </body>
</html>
