<%= render Bookmarker.SharedView, "form_header.html", model_name: "folder", back_path: folder_path(@conn, :show, @folder) %>

<%= render "form.html", changeset: @changeset,
                        action: folder_path(@conn, :update, @folder),
                        form_type: :edit %>

<%= CommonWeb.FormView.hidden_delete_form(@conn, folder_path(@conn, :delete, @folder)) %>
