<%= render Bookmarker.SharedView, "form_header.html", model_name: "folder", back_path: folder_path(@conn, :show, @folder) %>

<%= render "form.html", changeset: @changeset,
                        action: folder_path(@conn, :update, @folder),
                        form_type: :edit %>

<%= render Bookmarker.SharedView, "hidden_delete_form.html", delete_path: folder_path(@conn, :delete, @folder), changeset: @changeset %>
