<%= render Bookmarker.SharedView, "form_header.html", heading: "Edit folder", back_path: show_path(@folder) %>

<%= render "form.html", changeset: @changeset,
                        action: show_path(@folder),
                        form_type: :edit %>

<%= CommonWeb.FormView.hidden_delete_form(@conn, show_path(@folder)) %>
