<%= render Bookmarker.SharedView, "form_header.html", heading: "New folder", back_path: folder_path(@conn, :index) %>

<%= render "form.html", changeset: @changeset,
                        action: folder_path(@conn, :create),
                        form_type: :new %>
