<%= render Bookmarker.SharedView, "form_header.html", heading: "New folder", back_path: Bookmarker.FolderView.index_path() %>

<%= render "form.html", changeset: @changeset,
                        action: index_path(),
                        form_type: :new %>
