
<table class="default-table table-centered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>

      <th><%= link "Add Genre", to: Routes.genre_path(@conn, :new), class: "btn btn-success" %></th>
    </tr>
  </thead>
  <tbody>
<%= for genre <- @genres do %>
    <tr>
      <td></td>
      <td>
        <%= link genre.name, to: Routes.genre_path(@conn, :show, genre) %>
      </td>
      <td></td>
    </tr>
<% end %>
  </tbody>
</table>
