<%= render Bookmarker.SharedView, "form_header.html", model_name: "bookmark tag", back_path: bookmark_tag_path(@conn, :show, @bookmark_tag) %>

<%= render "form.html", changeset: @changeset,
                        action: bookmark_tag_path(@conn, :update, @bookmark_tag), bookmarks: @bookmarks, tags: @tags,
                        form_type: :edit %>

<%= render Bookmarker.SharedView, "hidden_delete_form.html", delete_path: bookmark_tag_path(@conn, :delete, @bookmark_tag), changeset: @changeset %>
