<%= render Bookmarker.SharedView, "form_header.html", model_name: "bookmark tag", back_path: bookmark_tag_path(@conn, :index) %>

<%= render "form.html", changeset: @changeset,
                        action: bookmark_tag_path(@conn, :create), bookmarks: @bookmarks, tags: @tags,
                        form_type: :new %>
