
<table class="default-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>

      <th><%= link "Add Streamer", to: Routes.streamer_path(@conn, :new), class: "btn btn-success" %></th>
    </tr>
  </thead>
  <tbody>
<%= for streamer <- @streamers do %>
    <tr>
      <td></td>
      <td><%= streamer.name %></td>

      <td>
        <%= link "Show", to: Routes.streamer_path(@conn, :show, streamer), class: "btn btn-xs btn-light" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


