
<table class="default-table table-centered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>

      <th><%= link "Add Streamer", to: ~p"/streamers/new", class: "btn btn-success" %></th>
    </tr>
  </thead>
  <tbody>
<%= for streamer <- @streamers do %>
    <tr>
      <td></td>
      <td><%= link streamer.name, to: ~p"/streamers/#{streamer}" %></td>
      <td></td>
    </tr>
<% end %>
  </tbody>
</table>
