<div class="show_header">
	<h1 class="heading"><%= @item_name %></h1>
	<div class="btn_group">
		<%= link "Edit", to: @resource_path_func.(@conn, :edit, @item), class: "btn btn-light btn-sm" %>
		<%= form_for @conn, @resource_path_func.(@conn, :delete, @item), [method: :delete, class: "delete_button_form", data_confirm: @item_name], fn _f ->
				submit("Delete", class: "btn btn-danger btn-sm")
			end
		%>
	</div>
</div>