.form-control {
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;

    select.form-control {
        background-color: #fff;
    }
}

.btn:hover {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	.form-control, .form-control:focus, .form-group select.form-control {
        background-color: #000;
        color: #fff;
    }
}