.jumbotron{
	background-color: #eee;
	padding: 8px 15px 30px;
}

header{
	margin-bottom: 30px;
}

h1.main_title{
	font-family: $title_font_family;
	font-size: 3.998em;
	font-weight: normal;
	margin: 0 10px 20px;
	a{
		color: black;
	}
}

nav{
	ul{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
	}
	//nav-pills styles
	li a{
		border-radius: 4px;
		padding: 12px 15px;
		color: #337ab7; //don't change color for visited links
	}
}

//Active nav styles
.nav a.active,
.nav > li:hover > a:not(.btn) {
	background-color: #223;
	color: white;
	text-decoration: none;
}