.stats_container{
	display: flex;
	flex-wrap: wrap;

	margin: 2em 0;

	& > *{
		margin-right: 3em;
	}
	.heading{
		font-weight: bold;
	}
}

#movies_per_month_chart {
	margin-bottom: 2rem;
}

svg.ct-chart-line {
	overflow: overlay;

	.ct-grids {
		stroke: #dedede;

		.ct-horizontal {
			stroke: #efefef;
		}
	}
	
	.ct-series {
		.ct-line, .ct-point {
			stroke: #d70206;
			stroke-width: 2px;
			fill: none;
		}

		.ct-area {
			fill: #d70206;
			fill-opacity: 0.1;
		}

		.ct-point {
			stroke-width: 6px;
			stroke-linecap: round;
		}
	}
}