.stats_container{
	display: flex;
	flex-wrap: wrap;
	gap: 1em 3em;

	.heading{
		font-weight: bold;
	}
}

.reporting_movies_by_month_table {
	border-collapse: collapse;
	font-size: 0.75rem;
	text-align: center;
	
	th, td {
		border: 1px solid rgba(204,204,204, 0.55);
	}

	tbody td {
		width: 1.25rem;
		height: 1.25rem;
	}

	.count-filled {
		background-color: #c60003;
	}
}

@media (prefers-color-scheme: dark) {
    .reporting_movies_by_month_table  {
        background-color: #212121;
		color: #fff;

		th, td {
			border-color: rgba(87,87,87, 0.55);
		}
    }
}