//styles for show pages

.show_header{
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	.heading {
		margin: 0;
	}

	.btn_group{
		text-align: right;
		flex-basis: 150px;
		align-self: center;

		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
}
