@use 'variables';

table{
	color: #000;
	border-spacing: 0;
	border-collapse: collapse;

	&.table-centered {
		margin-left: auto;
		margin-right: auto;
	}
}
thead{
	background-color: #eee;
}
//for CSS row numbers in first td of row
tbody{
	counter-reset: rowNumber;
}

@media (prefers-color-scheme: dark) {
	thead {
		background-color: #cacaca;

		&, a:not(.btn){
			color: #727272;
		}
	}
	

    .default-table tbody{
		background-color: variables.$dark_secondary_bg_color;

		&, a:not(.btn) {
			color: #fff;
		}
	}
}

tbody tr {
    counter-increment: rowNumber;
}
tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    opacity: 0.3;
	color: #000;
}
td, th{
	padding: 0.8em;
	text-align: left;	
}
th{
	font-weight: normal;
}
.tr_primary{
	background-color: variables.$green;
}
.tr_warning{
	background-color: variables.$yellow;
}
.tr_error{
	background-color: variables.$red;
}

td a{
	color: black;
}

.release-date--calculated{
	color: #a69c4e;
}

.movie-length-column {
	min-width: 3.5em;
}