@use 'variables';

table{
	color: #000;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border-collapse: collapse;
}
thead{
	background-color: #eee;
}
//for CSS row numbers in first td of row
tbody{
	counter-reset: rowNumber;
}

@media (prefers-color-scheme: dark) {
	thead a{
		color: #000;
	}

    .default-table tbody{
		background-color: #666;

		&, a:not(.btn) {
			color: #ddd;
		}
	}
}

tbody tr {
    counter-increment: rowNumber;
}
tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    opacity: 0.3;
	color: #000;
}
td, th{
	padding: 0.8em;
	text-align: left;	
}
th{
	font-weight: normal;
}
.tr_primary{
	background-color: variables.$green;
}
.tr_warning{
	background-color: variables.$yellow;
}
.tr_error{
	background-color: variables.$red;
}

td a{
	color: black;
}

.release-date--calculated{
	color: #a69c4e;
}