
$sans_serif_font_family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif_font_family: Times, Georgia, 'Droid Serif', 'Times New Roman', serif;
$display_font_family: 'Blackout-Sunrise', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title_font_family: 'Blackout-Midnight', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$dark_secondary_bg_color: #404040;


$green : #88e884;
$yellow : #ffe100;
$red : #ff3237;
$blue : steelblue;