<%= render Bookmarker.SharedView, "form_header.html", model_name: "tag", back_path: tag_path(@conn, :show, @tag) %>

<%= render "form.html", changeset: @changeset,
                        action: tag_path(@conn, :update, @tag),
                        form_type: :edit %>

<%= render Bookmarker.SharedView, "hidden_delete_form.html", delete_path: tag_path(@conn, :delete, @tag), changeset: @changeset %>
