<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @daily_quotes,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_s/1,
                            new_path: daily_quote_path(@conn, :new),
                            item_path_func: &daily_quote_path/3
%>