<%= render BlockquoteWeb.SharedView, "show_header.html",
                                conn: @conn,
                                title: "Daily quote",
                                item_name_singular: @item_name_singular,
                                delete_path: show_path(@daily_quote),
                                edit_path: edit_path(@daily_quote),
                                item_columns: item_columns(@daily_quote)
%>
