<div class="add-images-top-links">
	<%= link "Back", to: show_path(@post), class: "back-link" %>
</div>

<div class="show-heading">
	<%= content_tag :h1, "Add Images to " <> display_name(@post), class: "show-title" %>
</div>

<div id="post_add_images_component" data-form-url="<%= ~p"/admin/posts/#{@post}/images" %>" data-csrf-token="<%= @csrf_token %>" data-images-api-url="<%= ~p"/admin/api/posts/#{@post}/images/addable" %>"></div>
