<h2>Reports</h2>

<ul>
    <li>
        <%= link "Years Overview", to: ~p"/reports/years" %>
    </li>
    <li>
        <%= link "Current Year Report", to: BooklistWeb.ReportsView.reports_for_current_year_path() %>
    </li>
    <li>
        <%= link "Authors Report", to: ~p"/reports/authors" %>
    </li>
</u>
