.search-form{
    display:flex;
    flex-grow: 1;
    align-items: flex-start;
    
    .form-group{
        flex-grow: 1;
        padding-right: 1em;
    }
    .search-input{
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .form-control, .form-control:focus {
        background-color: #000;
        color: #fff;
    }

    .form-control::placeholder {
        color: #999;
    }
}