* {
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

.alert:empty{
    display: none;
}

.text-danger{
    color: $danger;
}

@media (prefers-color-scheme: dark) {
	body{
		color: #fff;
		background-color: #333;
	}
}