* {
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

.alert:empty{
    display: none;
}

.text-danger{
    color: $danger;
}

@media (prefers-color-scheme: dark) {
	body{
		color: #fff;
		background-color: #333;
	}

	// a {
	// 	&:link {
	// 		color: rgb(87, 92, 233);
	// 	}

	// 	&:visited {
	// 		color: rgb(130, 72, 185);
	// 	}

	// 	&:active {
	// 		color: red;
	// 	}
	// }
}