* {
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

.alert:empty{
    display: none;
}

.text-danger{
    color: $danger;
}