<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title prefix="Pluginista"><%= assigns[:page_title] %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body>
    <header class="jumbotron">
      <div class="container">
        <h1 class="main_title"><%= link "Pluginista", to: Routes.page_path(@conn, :index) %></h1>
        <nav>
          <ul class="nav">
            <%= for group <- assigns[:nav_groups] do %>
              <li><%= link group.name, to: Routes.group_path(@conn, :show, group) %></li>
            <% end %>
            <li><%= link "Plugins", to: Routes.plugin_path(@conn, :index, sort: "category") %></li>
            <li><%= link "Reports", to: Routes.report_path(@conn, :index) %></li>
            <li><%= link "Add Plugin", to: Routes.plugin_path(@conn, :new), class: "btn btn-success" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= @inner_content %>
    </div>
    <script src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
