<h1>Resources</h1>
<ul class="fields_list">
    <%= for {resource_title, resource_path} <- @resources do %>
        <li>
        	<%= link resource_title, to: resource_path, class: "field-title" %>
        </li>
    <% end %>
</ul>