<h1>Engines (<%= Enum.count(@engines) %>)</h1>

<div class="form-group"><%= link "New Engine", to: ~p"/admin/engines/new", class: "btn btn-success" %></div>

<div
  id="engines-list"
  data-admin-engines-url-base={~p"/admin/engines"}
  data-reorder-engines-url={~p"/api/engines/reorder"}
  data-engines-api-url={~p"/api/engines"}
  data-csrf-token={@csrf_token}
>
</div>
