/*
* Base Styles
*/

.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1em;
}

.main-content{
	padding-bottom: 100px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn:hover {
	text-decoration: none;
}

img{
	max-width: 100%;
}

/* Space out content a bit */
form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.spread_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #fff;
		background-color: #333;
	}

	a {
		color: rgb(126, 175, 249);
	}
}