/*
* Base Styles
*/

.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1em;
}

.main-content{
	padding-bottom: 100px;
}

img{
	max-width: 100%;
}

/* Space out content a bit */
form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.spread_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}