/*
* Header and Nav
*/
/* Custom page header */
.header {
	padding-top: 1em;
	margin-bottom: 1em;

	ul {
		margin-top: 0;
	}
}

.navbar {
	@media screen and (min-width: 576px) {
		justify-content: space-between;
	}
}

.navbar-light .nav-link.btn{
	color: #fff;

	&:hover {
		color: #ccc;
	}
}
