.header {
	padding-top: 1em;
	margin-bottom: 1em;
}

.navbar, .navbar-nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	flex-direction: column;
}

.navbar-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media screen and (min-width: 576px) {
	.navbar {
		justify-content: space-between;
	}

	.navbar-nav, .navbar {
		flex-direction: row;
		align-items: center;
	}
}
