/*
* Header and Nav
*/
/* Custom page header */
.header {
	padding-top: 1em;
	margin-bottom: 1em;

	ul {
		margin-top: 0;
	}
}

.navbar {
	@media screen and (min-width: 576px) {
		justify-content: space-between;
	}
}

.navbar-light .nav-link.btn{
	&:hover {
		color: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	.navbar-brand {
		--bs-navbar-brand-color: #fff;
		--bs-navbar-brand-hover-color: #fff;
	}

	.nav-link {
		--bs-nav-link-color: #fff;
		--bs-nav-link-hover-color: #fff;
	}
}