//Styles for page to add images to post
.button-container-right{
	display: flex;
	justify-content: flex-end;
	& > *{
		margin-right: 1em;
	}
	& > *:last-child{
		margin-right: 0;
	}
}

.add-images-top-links{
	display: flex;
	justify-content: space-between;
}