.post-tags-list{
	margin-bottom: 40px;
	//list header
	& > .list-group-item:first-of-type{
		padding-bottom: 2em;
	}
	.list-header{
		display: flex;
		justify-content: space-between;
		.list-heading{
			font-size: 1.563em;
		}
	}
	.add-tag-link{
		margin-top: 0.5em;
		a:before{
			content: '+';
			//so not underlined on hover
			display: inline-block;
			margin-right: 0.2em;
			font-weight: bold;
		}
	}

	.add-tags-container{
		label{
			margin-right: 16px;
		}
		input[type="checkbox"]{
			margin-right: 10px;
		}
		.button-container-right{
			display: flex;
			justify-content: flex-end;
			button{
				margin-right: 12px;
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}

	//tag list items
	.tag-item{
		display: flex;
		justify-content: space-between;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}