.import-images-header{
    margin-bottom: 1em;
}

.import-images-container{
    /*
    * File input
    * based on: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way
    * and
    * https://css-tricks.com/drag-and-drop-file-uploading/
    */
    #file_input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
            cursor: pointer;
            font-size: 1.25em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px dashed #333;
            width: 100%;
            min-height: 300px;
            span{
                font-weight: 400;
            }
            svg{
                display: block;
                margin: 0 auto;
                height: 80px;
                width: 80px;
            }
        }
        
        &:focus + label,
        & + label:hover,
        & + label.dragged-over {
            background-color: #e8e8e8;
        }
        &:focus + label{
            outline: 1px dotted #000;
	        outline: -webkit-focus-ring-color auto 5px;
        }
    }

    /*
    * Image file display
    */
    .images-list-container{
        ul{
            padding-left: 0;
            list-style-type: none;
        }
        li{
            display: flex;
            justify-content: space-between;
            padding: 2em 0;
            border-bottom: 1px solid #e5e5e5;

            &:last-of-type{
                padding-bottom: 0;
                border-bottom: 0;
            }

            .image-form{
                flex-basis: 100%;
                padding-right: 2em;
            }
            figure{
                flex-basis: 300px;
            }
        }
        .form-group-fixed{
            label{
                min-width: 165px;
            }
        }
        .button-container{
            display: flex;
            justify-content: flex-end;
        }
    }
    img{
        max-width: 300px;
        max-height: 240px;
    }
}