<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @parent_sources,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_s/1,
                            new_path: parent_source_path(@conn, :new),
                            item_path_func: &parent_source_path/3
%>