<h1>Resources</h1>

<ul class="admin-resources-list">
	<li><%= link "Images", to: image_path(@conn, :index) %></li>
	<li><%= link "Posts", to: post_path(@conn, :index) %></li>
	<li><%= link "Post Images", to: post_image_path(@conn, :index) %></li>
</ul>