<h1>Resources</h1>

<ul class="admin-resources-list">
	<li><%= link "Images", to: ~p"/admin/images" %></li>
	<li><%= link "Posts", to: ~p"/admin/posts" %></li>
	<li><%= link "Post Images", to: ~p"/admin/post_images" %></li>
</ul>
