.activity-search-form {
    margin-bottom: 2em;
    display: flex;
	flex-wrap: wrap;
	gap: 1em;
    align-items: flex-end;

    .form-group {
        margin-bottom: 0;
    }
}

.activity-search-query-input {
    width: auto;
    flex-grow: 1;
}