td.category-color {
    text-align: center;
    color: white;
}

td.category-color--beige {
    background-color: antiquewhite;
    color: #000;
}
.category-color--black {
    background-color: black;
}
.category-color--blue {
    background-color: blue;
}
.category-color--brown {
    background-color: sienna;
}
td.category-color--cyan {
    background-color: cyan;
    color: #000;
}
td.category-color--gold {
    background-color: gold;
    color: #000;
}
.category-color--green {
    background-color: green;
}
.category-color--hot-pink {
    background-color: hotpink;
}
td.category-color--lime {
    background-color: lawngreen;
    color: #000;
}
.category-color--maroon {
    background-color: maroon;
}
.category-color--olive {
    background-color: olive;
}
.category-color--orange {
    background-color: orange;
}
td.category-color--pink {
    background-color: pink;
    color: #000;
}
.category-color--purple {
    background-color: rebeccapurple;
}
.category-color--red {
    background-color: tomato;
}
.category-color--salmon {
    background-color: palevioletred;
}
.category-color--sandy {
    background-color: sandybrown;
}
.category-color--sky {
    background-color: deepskyblue;
}
td.category-color--yellow {
    background-color: yellow;
    color: #000;
}

