td.category-color {
    text-align: center;
}

.category-color--red {
    background-color: tomato;
    color: white;
}

.category-color--black {
    background-color: black;
    color: white;
}

.category-color--green {
    background-color: green;
    color: white;
}