.create-category-activity-list {
    list-style-type: none;
    padding: 0;
    gap: 1em 0.5em;
    
    &, li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    li {
        padding: 1em;
        gap: 1.25em;
    }
}