.activity-index-date-heading {
    width: 5em;
}

.activity-index-button-heading {
    width: 160px;
}

.items-count-title {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
}