@use './variables';

.show-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

/**
* Category show pages
*/
.category-show-title-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 0.75em;
    align-items: center;

    .category-show-title {
        padding: 0 0.15em;
    }
}

.activity-streak-form {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    flex-wrap: wrap;
}

.activity-streak-table {
    margin-bottom: 2rem;
    
    tbody tr td:first-child::before {
        content: none;
    }

    td, th {
        height: 2em;
        width: 2em;
        border: 1px solid #000;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.1em;
    }

    td:first-of-type, th:first-of-type {
        width: 8em;
    }
}

@media (prefers-color-scheme: dark) {
    .activity-streak-table {
        background-color: variables.$background-color-dark;
    }
}