<%= render BlockquoteWeb.SharedView, "index.html",
                            conn: @conn,
                            items: @source_types,
                            item_name_singular: @item_name_singular,
                            item_display_func: &to_s/1,
                            new_path: source_type_path(@conn, :new),
                            item_path_func: &source_type_path/3
%>